.main{
  height: 100vh;
  width: 100vw;
  background-color: #b5e3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  margin: 0 auto;
  transform: translateY(50px);
  border-radius: 8px;
  background-color: #fff;
  transition: .2s;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4);

}

.card:hover {
  transform: scale(1.1);
  }

.card .title{
  color: #222;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.card .image {
  width: 100%;
  height: 70px;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  position: relative;
  top: -90px;
}

.card .details {
  margin: 20px auto;
}

.card .details .ability{
  margin-bottom: 10px;
  color: #222;
  font-size: 16px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

.card .status{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.card .status .item{
  font-family: "Roboto", sans-serif;
  color: #222;
  font-size: 18px;
}
